body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: 1fr;
    row-gap: 25px;
    margin: 0;
}

/*header*/
header {
    background-color: rgba(16, 100, 16, 0.411);
    border-bottom: 3px black solid;
}

h1 {
    text-align: center;
}

.Back {
    font-size: x-large;
}

/*Main*/
main {
    padding-top: 0 ;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    height: auto;
}

main h2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

ul li {
    font-size: x-large;
}

/*Table*/
table {
    width: 100%;
    border: 2px black solid;
}

.Tabela tr td {
    padding: 10px;
    border: 2px black solid;
}

/*Buttons*/
button {
    padding: 10px;
}

label {
    display: block;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Buttons {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    height: 100%;
}

#Button_Add, #Button_Update, #Button_Delete {
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 375px;
    min-height: 200px;
}

/*Fotter*/
footer {
    max-height: auto;
    padding: 20px;
    background-color: rgba(16, 100, 16, 0.411);
    border-top: 3px black solid;
}